html{
    background : url(./background.jpg) no-repeat;
    background-size: cover;
}
.main{
    color:rgb(255, 0, 221);
    font-family: 'HIGHUP ITALIC PERSONAL USE';
    font-size:200%;
}

.one a{
    color:rgb(140, 0, 255);
    font-family: "여기어때 잘난체";
}
